<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8">
    <title>PRACTICA0</title>
   </head>
   <body>
    <h1>DESCRIPTION BY: ALBERT MARCH</h1>
		<p>Aqui estan explicades totes les operacions que podem operar a la pagina web</p>
		<ol>
			<li>+ SUMAR <a href="http://127.0.0.1:5000/oper">"Click me to operate"</a></li>
			<li>+ RESTAR <a href="http://127.0.0.1:5000/oper">"Click me to operate"</a></li>
			<li>+ MULTIPLICAR <a href="http://127.0.0.1:5000/oper">"Click me to operate"</a></li>
         <li>+ DIVIDIR <a href="http://127.0.0.1:5000/oper">"Click me to operate"</a></li>
		</ol>
   </body>
</html>